.todo-create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
}

.submit-create-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 640px) {
  .todo-create {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: auto;
    gap: 10px;
    padding: 10px;
  }

  .submit-create-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
