.todo-input {
  width: 100%;
  outline: none;
  border: 2px solid #1b428b;
  background-color: #fff;
  color: #1b428b;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-align: left;
  border-radius: 14px;
  height: 40px;
  transition: all 0.3s ease;
  margin: 10px 0;
}

body.dark-mode .todo-input {
  background-color: #eae9f3;
  color: #1b428b;
  border-color: #1b428b;
}

.todo-input:focus {
  border-color: #e42276;
  box-shadow: 0 2px 8px rgba(228, 34, 118, 0.1);
}

body.dark-mode .todo-input:focus {
  border-color: #e42276;
  box-shadow: 0 2px 8px rgba(228, 34, 118, 0.18);
}
